<!-- nav bar -->
<nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <h1 class='navbar-nav'>Collectible Clerics</h1>
        </div>
        <div class="navbar-right collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li *ngIf="currentUser.status == 'admin'"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
              <li><a class="nav-link" routerLink="/about">About</a></li>
              <li><a class="nav-link" routerLink="/theodex">Theodex</a></li>
              <li><a class="nav-link" routerLink="/profile">Profile</a></li>
              <li><button (click)=logout() type="button" class="btn btn-xs navbar-btn"><a href="/logout" class="nav-link">Logout</a></button></li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <h1>Theodex</h1>
    <br>
    <h3>Peruse Packs of Pious People</h3>
    <p class="filterInput"><input type="text" [(ngModel)]='filter.name' placeholder="Theologian's Name"></p>
    <p class="filterInput">
        Select Theology...
        <select name="pack" class="form-control" required [(ngModel)]='filter.theology'>
            <option value="">Select theology...</option>
            <option value="Womanism">Womanism</option>
            <option value="Feminism">Feminism</option>
            <option value="Queer">Queer</option>
            <option value="Liberalism">Liberalism</option>
            <option value="Orthodox">Orthodox</option>
            <option value="Neo-Orthodox">Neo-Orthodox</option>
            <option value="Liberation">Liberation</option>
            <option value="African">African</option>
            <option value="Asian">Asian</option>
            <option value="Native American">Native American</option>
            <option value="Latin American">Latin American</option>
            <option value="Asian Pacific North American">Asian Pacific North American</option>
            <option value="Hispanic American">Hispanic American</option>
            <option value="Mujerista">Mujerista</option>
            <option value="Process">Process</option>
            <option value="Ethics">Ethics</option>
        </select>
    </p>
    <div class="row">
        <div class="card-columns">
            <div *ngFor="let card of cards | search: filter" class="card card-outline-primary mb-3 col-xs-12 col-sm-6 col-md-4 col-lg-4" style="width: 30rem;">
                <div *ngIf="card.name == 'Arvind P. Nirmal'" class="crop">
                    <img class="card-img-top" src="{{card.imageUrl}}" alt="Picture of theologian">
                </div>
                <img *ngIf="card.name != 'Arvind P. Nirmal'" class="card-img-top" src="{{card.imageUrl}}" alt="Picture of theologian">
                <div class="card-block card-info">
                    <h1 class="card-title"><a class="nav-link" [routerLink]="['/card', card._id]">{{card.name}}</a></h1>
                </div>
                <div class="card-footer">
                    <h2>#{{card.number}}</h2>
                    <h5>{{card.theology}}</h5>
                    <hr>
                    <button *ngIf="userCardIDs.indexOf(card._id) === -1" class="collect-button btn btn-primary" (click)="collectCard(card)">Collect</button>
                    <h6 *ngIf="userCardIDs.indexOf(card._id) != -1">You have collected this card!</h6>
                    <button *ngIf="userCardIDs.indexOf(card._id) != -1" class="remove-button btn btn-primary" (click)="removeCard(card)">Remove from Collection</button>
                </div>
            </div>
        </div>
    </div>
</main>
