main {
    margin: 50px;
}

h1,
h3,
h6 {
    text-align: center;
}

.filterInput {
    text-align: center;
}

img {
    margin-top: 15px;
    width: 100%;
    height: 300px;
}

.quote {
    font-style: oblique;
    font-weight: bolder;
}

.card-info {
    height: 100px;
}

.card {
    border: 2px solid black;
    margin: 5px;
}

.card-columns {
    margin-left: 50px;
}

button {
    margin-bottom: 10px;
    margin-left: 19%;
}

.crop {
    width: 266px;
    height: 315px;
    overflow: hidden;
}

.crop img {
    width: 330%;
    height: 494px;
    margin: -176px 0px 0px 1px;
}